*{
	background-color:#4fd8EF;
	background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3));
 	padding:0;
 }
 .chat-container{
 	width:50%;
 	height:80%;
 	background:#EEE;
 	border:1px solid rgba(0,0,0,.6);
 	position:absolute;
 	top:5%;
 	left:25%;
 	border-radius:2px;
 }
 .message-textarea{
 	width:90%;
 	height:10%;
 	top:90%;
 	position:absolute;
 	background: #FFF;
}
.chat-head{
 	height:50px;
 	background-color:#4fd8EF;
	background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3));
 	border-bottom:1px solid #000;
}
 .friend-name{
 	position:absolute;
 	color:#FFF;
 	background:none;
 	left:25%;
 	width:50%;
 	font-size:35px;
 	text-align:center;
}
.friend-name:hover{
	color:#FEE;
 	cursor:hand;
}
.sender{
	background: #FFF;
	margin-top: 10px;
	width: 55%;
	margin-left: 40%;
	min-height: 35px;
	font-size: 14px;
	padding: 4px;
	border-radius: 5px;
	border: 1px solid #CCC;
	cursor: pointer;
	transition: 0.5s;
	font-family: monospace;
	font-size: 18px;
	color: #333;
	text-shadow: 1px 1px 1px #666;
	word-wrap:break-word;
}
.receiver{
	background:#FFF;
	margin-top:10px;
	width:55%;
	margin-left:1%;
	min-height:35px;
	font-size:14px;
	padding:4px;
	border-radius:5px;
	border:1px solid #CCC;
	cursor:pointer;
	transition:0.5s;
	font-family: monospace;
	font-size: 18px;
	color: #333;
	text-shadow: 1px 1px 1px #666;
	word-wrap:break-word;
}
.sender, .receiver {
 	padding:10px;
	background:#FFF !important;
}
.chat-body{
 	max-height:80%;
 	overflow:auto;
 	background:#EEE;
}
.send-button{
 	position:absolute;
 	width:10%;
 	left:90%;
 	height:10%;
 	bottom:0;
 	border:1px solid #FFF;
 	margin-left:1px;
 	opacity:0.8;
 	transition:1s;
 	color:#FFF;
 	font-size:16px;
 }
button:hover{
 	cursor:pointer;
 	opacity:1;
 }
.logout-link{
	color: #7b2828;
 }
.logout-link:hover{
	 text-decoration:underline;
}
.users{
	height:500px;
	width:200px;
	position:absolute !important;
	border:1px solid #000;
	background:#FFF;
	top:5%;
	right:1%;
}
.user{
	height:50px;
	width:100%;
	border:1px solid #000;
	cursor:pointer;
}
.user-name{
	width:150px;
	float:right;
	background:none;
	text-align:left;
	text-indent: 5px;
	color:#EEE;
	font-size:20px;
}
.description{
	z-index:1;
	display:none;
	position:absolute;
	border:1px solid #000;
	height:100px;
	width:250px;
	background:#FFF;
	right:220px;
}
.text-area{
	z-index:2;
	top:0%;
	left:100px;
	position:absolute;
	height:100px;
	width:150px;
	background:#CCC;
	margin:0;
}
.status{
	text-align:center;
	background:inherit;
}

.management-account{
	height:500px;
	width:250px;
	background: #FFF;
	position:absolute;
	display:block;
	top:15%;
	padding:10px;
}
.management-account input, a,.status-button{
	width:250px;
	color:#000;
	background:none;
	margin-bottom:4px;
}
.update-status{
	display:block;
}
.management-account .options{
	background:none;
}
.status-button, .status-input, input[type="text"]{
	background:none;
	height:30px;

}
.input-hidden{
	visibility:hidden;
}
.input-visible{
	visibility:visible;
}
.button-hidden{
	display:none;
}
.management-account-title{
	background:none !important;
	text-align:center;
}
.menu-chat{
	position:absolute;
	height:100px;
	width:150px;
	border:1px solid #CCC;
	background:#EEE;
	z-index:1000;
	float:right;
	top:6%;
	left:95%;
}
ul{
	background:none;
	margin-left:2px;
}
ul li{
	list-style-type:none;
	margin:0px 3px 5px 2px;
	background:none;
}
ul li a{
	text-decoration:none;
}
ul li a:hover{
	text-decoration:underline;
}
.icon{
	background:none;
}